{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/pocketdimensions/tesseractlens/header.png",
      "fileBody" : "/interface/scripted/pocketdimensions/tesseractlens/body.png",
      "fileFooter" : "/interface/scripted/pocketdimensions/tesseractlens/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Tesseract Lens",
      "subtitle" : "Choose a dimension",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/pocketdimensions/tesseractlens/tesseractlensguiicon.png",
        "zlevel" : -1
      }
    },
    "imgShine" : {
      "type" : "image",
      "file" : "/interface/scripted/playerstationconsole/shine.png",
      "zlevel" : 2,
      "position" : [0, 8],
      "mouseTransparent" : true
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [177, 85]
    },
    "dimensionalParameterBg" : {
      "type" : "image",
      "file" : "/interface/scripted/pocketdimensions/tesseractlens/dimensionalparameterbg.png",
      "position" : [9, 55],
      "zlevel" : 3
    },
    "dimensionalParameter" : {
      "type" : "textbox",
      "position" : [13, 58],
      "enterKey" : "activateTesseractLens",
      "maxWidth" : 120,
      "regex" : "[0-9]{0,18}",
      "fontSize" : 10,
      "zlevel" : 5,
      "callback" : "changeDimensionalParameter",
      "nextFocus" : "dimensionalParameter"
    },
    "randomizeButton" : {
      "type" : "button",
      "disabled" : false,
      "base" : "/interface/scripted/pocketdimensions/tesseractlens/dice.png",
      "hover" : "/interface/scripted/pocketdimensions/tesseractlens/dicehover.png",
      "position" : [141, 54],
      "zlevel" : 3,
      "callback" : "randomizeDimensionalParameter"
    },
    "activateButton" : {
      "type" : "button",
      "disabled" : true,
      "base" : "/interface/scripted/pocketdimensions/tesseractlens/activatebutton.png",
      "hover" : "/interface/scripted/pocketdimensions/tesseractlens/activatebuttonhover.png",
      "pressed" : "/interface/scripted/pocketdimensions/tesseractlens/activatebutton.png",
      "caption" : "Teleport",
      "position" : [9, 28],
      "zlevel" : 3,
      "callback" : "activateTesseractLens"
    }
  },
  "scripts" : [ "/interface/scripted/pocketdimensions/tesseractlens/tesseractlensgui.lua" ],
  "scriptDelta" : 1,
  "scriptWidgetCallbacks" : [
    "activateTesseractLens",
    "changeDimensionalParameter",
    "randomizeDimensionalParameter"
  ],
  "sounds" : {
    "error" : "/sfx/interface/clickon_error.ogg"
  }
}
